@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import "tailwindcss";

.font-amita {
  font-family: "Amita", cursive;
}

.font-questrial {
  font-family: "Questrial", sans-serif;
}